header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav {
  padding: .5rem;
  margin: 0 1rem;
}

.button-sub-layout {
  display: flex;
  flex-direction: row;
}

header > nav > a,
header > nav > a:visited {
  color: #333333;
}