:root {
  --text-color: rgb(94, 205, 50);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;

    /* --red: #ff0000ff;
    --green:  #a1ff0aff;
    --blue:   #0aefffff;
    --yellow: #ffd300ff;
    --pink:   #be0affff;
    --purple: #580affff;
    --orange: #ff8700ff; */
    
    --paper-background: #666666;
  }

  * {
    --text-color: rgb(94, 205, 50);
  }
}

a {
  color: var(--text-color);
}

body.terminal {
  background: #333333;
  color: var(--text-color);
  font-family: "Cascadia", Courier, monospace;
  padding: 1rem;
}

.terminal .prompt {
  color: var(--text-color);
  font-weight: 700;
}

table, tbody td {
  border: 1px solid var(--text-color);
}

table thead tr:hover {
  color: var(--text-color);
}

ul {
  list-style-type: ">> ";
  list-style-position: inside;
}

fieldset {
  border: 1px solid var(--text-color);
  padding: 1rem;
}

input {
  background: #333333;
  border-radius: 0;
  color: var(--text-color);
  outline: #333333;
}

form input {
  background: 333333;  
  outline: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 0;
  padding: 0 0 .5rem 0;
}

button {
  padding: 1rem;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0;
  font-weight: 500;
}

button:hover {
  background: var(--text-color);
  color: #333333;
}

progress::-webkit-progress-value {
  background-color: var(--text-color);
}